@import "tailwindcss";

@font-face {
    font-family: 'AvieSehyun';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JejuStoneWall';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
  font-family:'AvieSehyun';
}

body {
  background-color: #C3EFFF;
  margin: 0;
}

h1 {
  font-family: 'JejuStoneWall';
}